<div class="body">
<div class="content">
<div class="content2">
<div class="popular">
</div>
<div class="kara">
</div>
<div clss="content3">




<div class="reds">

</div>
</div>

</div>

<%= link_to root_path do %>
  <%= image_tag "gazou.png", class: "gazous" %>
<% end %>

<%= link_to root_path do %>
  <%= image_tag "gazou2.png", class: "gazouss" %>
<% end %>


</div>
   <footer>
      <p class="footer">Copyright(C) boketemasun.</p>
    </footer>
</div>