<div class="body">
<div class="content">
<div class="content2">
<div class="popular">
</div>
<div class="kara">
</div>
<div clss="content3">
<div class="reds">
<p class="red">人気のボケ</p>
<%= link_to root_path do %>
  <%= image_tag "red.jpg", class: "gazou" %>
<% end %>
<p class="odai">床に落とした麺をワイルドそうなネーミングを加えて客に出した</p>
</div>

<div class="reds">
<p class="red">人気のボケ</p>
<a href="/"><img src="/assets/red.jpg" class="gazou" /></a>
<p class="odai">床に落とした麺をワイルドそうなネーミングを加えて客に出した</p>
</div>
<div class="reds">
<p class="red">人気のボケ</p>
<a href="/"><img src="/assets/red.jpg" class="gazou" /></a>
<p class="odai">床に落とした麺をワイルドそうなネーミングを加えて客に出した</p>
</div>
</div>

</div>
<a href="/"><img src="/assets/gazou.png" class="gazous" /></a>
<a href="/"><img src="/assets/gazou2.png" class="gazouss" /></a>
</div>
   <footer>
      <p class="footer">Copyright(C) boketemasun.</p>
    </footer>
</div>