<% if user_signed_in? %>
<% if answer.bad_user(current_user.id) %>
<div>
  <%= button_to answer_bad_path(bad, answer_id: answer.id), method: :delete, id: "like-button", remote: true , class: "bad" do %>
  <p class="aaa">なんでやねん!!  取り消し<span><i class="fa fa-hand-paper-o fa-bad"></i></span></p>
  <% end %>
</div>
<% else %>
<div>
  <%= button_to answer_bads_path(answer), id: "like-button", method: :post,remote: true , class: "bads"  do %>
  <p> なんでやねん!!<span><i class="fa fa-thumbs-o-down fa-bad"></i></span></p>
  <% end %>
</div>
<% end %>
<% end %>
<div class="bads_box">
  <% if answer.bads_count == nil %>
  <p class="bads_count">  <%= 0  %></p>
  <% else %>
  <p class="bads_count">  <%= answer.bads_count %></p>
  <% end %>
</div>


