
.body {
  background-image: image-url("aa.png");
  height:1500px;
  width: calc(107% - 100px);
}

.content{
  background-color: #F2EFED;
  height:1300px;
  width:1100px;
  margin: 0 auto;
  overflow: scroll;
}

.nav_bars{
  margin-top:100px;
}

.content2{
  background-color: white;
  height:1150px;
  width:700px;
  margin-left:15px ;
  overflow: scroll;
}

.header{
  height:50px;
  background-color:white;
  position: fixed;
  width: calc(1000vh - 100px);
  border-bottom: 3px solid black;
}

.nav{
  float:left;
  margin-left:20px;
  font-size:15px;
}

.navz{
  text-decoration: none;
  color:black;
  margin-left:2px;
}

.navs{
  font-weight: bold;
  margin-top:20px;
}

.logo{
  height:50px;
  width:150px;
  margin-left:215px;
  float:left;
}



.nav__users{
  font-weight: bold;
  margin-top:20px;
  margin-left:300px;
}

.user{
  float:left;
  margin-left:30px;
  font-size:15px;
}
.nav__user{
 float:left;
 margin-left:18px;
 font-size:15px;
}

.nav__user_image{
 float:left;
 margin-top:-5px;
 margin-left:435px;

}


.red{
  border-bottom: 3px solid #F4C536;
  width:600px;
  margin-left:30px;
  font-size:20px;
  font-weight: bold;
  margin-top:50px;
}

.gazou{
  margin:30px 200px;
  height:400px;
}

.boke_gazou{
  margin-top:40px;
  margin-bottom:30px;
  height:400px;

}

.boke_gazou_center{
 text-align:center;
}

.odai{
  text-align: center;
  font-size:35px;
  font-weight: bold;
  margin-left:30px;
  width:500px;
  margin-left:100px;
}

.footer{
 text-align: center;
 margin-top: 140px;
 font-size:23px;
 font-weight: bold;
 font-family: 'Impact';
}

.nav_bar li{
  font-size:16px;
  font-weight:bold;
  float:left;
  margin-left:15px;
  margin-right:23px;
}

.toukou_image{
  margin-top:30px;
  height:350px;
  border: 2px solid black ;
}

.toukou_image_set{
  text-align:center;
}


.answer_toukou_user{
  color:#6291D3;
  margin-top:10px;
  font-weight:bold;
  text-align:center;
}


.answer_toukou_user_border{
  border-bottom:1px solid #F2EFED;
  margin-top:20px;
  margin-left:80px;
  width:500px;
}

.answer_toukou_boke{
  color:#6291D3;
  margin-top:10px;
  font-weight:bold;
  text-align:center;
  font-size:40px;
}



.bads{
  font-size:12px;
  font-weight: bold;
  padding:10px 20px;
  margin-left:380px;
  background-color: red;
  color: #fff;
  border-style: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
}

.bads_count{
  font-size:20px;
  text-align:center;
  font-weight:bold;

}

.bads_box{
  border: 2px solid red;
  border-radius: 4px;
  width:110px;
  padding: 1em;
  position: relative;
  margin-left:530px;
  margin-top:-55px;
  margin-bottom:40px;
}

.bads_box::before {
  background-color: #fff;
  color: red;
  content: "なんでやねん!! total";
  font-weight: bold;
  left: 0 .5em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
  font-size:12px;
}

.bad{
  font-size:10px;
  font-weight: bold;
  padding:10px 20px;
  margin-left:355px;
  background-color: #F4C536;
  color: #fff;
  border-style: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
}

.new_gazous{
  width:250px;
  float:right;
  margin-right:60px;
  margin-top:-850px;
}

.new_gazouss{
  width:270px;
  float:right;
  margin-top:-330px;
  margin-right:40px;

}

.new_rank {
 float:right;
 margin-top:-1050px;
 width:280px;
 background-color:white;
 border: 6px solid #F4C536;
 border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
 margin-right:15px;
 padding: 2em;
 font-weight:bold;
}

.new_rank h1{
   font-weight:bold;
   font-size:16px;
}
.new_rank span{
  font-size:10px;
}

.new_rank h2{
  color:red;
   font-weight:bold;
}

.fa-bad:before{
  color:white;
}

.fa-hand-paper-o{
  font-size:20px;
  margin-left:3px;
}

.likes{
  font-size:12px;
  font-weight: bold;
  padding:10px 20px;
  margin-left:75px;
  margin-top:30px;
  background-color: #6291D3;
  color: #fff;
  border-style: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 

}

.likes_count{
  font-size:20px;
  text-align:center;
  font-weight:bold;
}

.likes_box{
  border: 2px solid #6291D3;
  border-radius: 4px;
  width:110px;
  padding: 1em;
  position: relative;
  margin-left:200px;
  margin-top:-55px;
  margin-bottom:40px;
}

.likes_box::before {
  background-color: #fff;
  color: #6291D3;
  content: "おもろい!! total";
  font-weight: bold;
  left: 0 .5em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
  font-size:12px;
  
}

.like{
  font-size:10px;
  font-weight: bold;
  padding:10px 20px;
  margin-left:40px;
  margin-top:30px;
  background-color: #F4C536;
  color: #fff;
  border-style: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
}

.p_like{
}

.p_bad{
margin-top:-93px;
}

.fa-hand-peace-o{
  font-size:20px;
  margin-left:3px;
}
