
.body {
  background-image: image-url("aa.png");
  height:1500px;
}

.content{
  background-color: #F2EFED;
  height:1300px;
  width:1000px;
  margin: 0 auto;
  overflow: scroll;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
}

.content2{
  background-color: white;
  height:1300px;
  width:700px;
  margin-left:15px ;
  overflow: scroll;
}

.nav_bars{
  margin-top:100px;
}

.header{
  height:50px;
  background-color:white;
  position: fixed;
  width:100%;
  border-bottom: 3px solid black;
  z-index: 100;
}

.nav{
  float:left;
  margin-left:20px;
  font-size:15px;
}

.navz{
  text-decoration: none;
  color:black;
  font-size:15px;
}

.navs{
  font-weight: bold;
  margin-top:20px;
}

.red{
  border-bottom: 3px solid #F4C536;
  width:600px;
  margin-left:30px;
  font-size:20px;
  font-weight: bold;
  margin-top:50px;
}

.gazou{
  margin:30px 200px;
  height:400px;
}

.odai{
  text-align: center;
  font-size:35px;
  font-weight: bold;
  margin-left:30px;
  width:500px;
  margin-left:100px;
}


.gazous{
  width:250px;
  float:right;
  margin-right:20px;
  margin-top:-1200px;
}

.gazouss{
  width:270px;
  float:right;
  margin-top:-650px;
}

.footer{
 text-align: center;
 margin-top: 140px;
 font-size:23px;
 font-weight: bold;
 font-family: 'Impact';
}

.new_content{
  background-color: white;
  height:1000px;
  width:700px;
  margin-left:15px ;
  overflow: scroll;
}

.new_answer_content{
  background-color: white;
  height:1000px;
  width:700px;
  margin-left:15px ;
  overflow: scroll;
}

.new_gazous{
  width:250px;
  float:right;
  margin-right:20px;
  margin-top:-1050px;
}

.new_gazouss{
  width:270px;
  float:right;
  margin-top:-500px;
}


.toukou_image{
  margin-top:30px;
  height:350px;
  border: 2px solid black ;
}

.toukou_image_set{
  text-align:center;
}



.text{
  width:550px;
  height:50px;
  margin-left:60px;
  border:solid 3px #e0e0e0;
  border-radius:5px;

}
.btn{
  width:80px;
  height:40px;
  background-color:#F4C536;
  position: relative; left: 300px; top: 50px;
  color:white;
  text-decoration:none;
  display:block;
  text-align:center;
  border-radius:5px;
  border:solid 2px white;

}

h3{
  font-size:16px;
  font-weight:bold;
  margin-left:60px;
  margin-bottom:10px;
}

.nav_bar li{
  font-size:16px;
  font-weight:bold;
  float:left;
  margin-left:15px;
  margin-right:20px;
}



.nav_bars1{

  width:85px;
  text-align:center;
  padding-top:7px;
}

.nav_bars1:hover{
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius:10px 10px 0px 0px;
}

.toukou_user{
  color:#6291D3;
  margin-top:10px;
  text-align:center;
  font-weight:bold;
}


.toukou_user_border{
  border-bottom:1px solid #F2EFED;
  margin-top:20px;
  margin-left:80px;
  width:500px;
}

.image_toukou{
  width:500px;
  height:350px;
  margin-top:20px;
}

.image_toukou_set{
  text-align:center;
}

.image_toukou_btn{
  width:160px;
  height:40px;
  background-color:#F4C536;
  position: relative; left: 250px; top: 30px;
  color:white;
  text-decoration:none;
  display:block;
  text-align:center;
  border-radius:5px;
  border:solid 2px white;
  font-size:13px;
  font-weight: bold;
}

.image_toukou_info{
  text-align:center;
  font-weight: bold;
  margin-top:20px;
}

.image_toukou_btn2{
  width:160px;
  height:25px;
  background-color:white;
  position: relative; left: 265px; top: 20px;
  color:white;
  text-decoration:none;
  display:block;
  text-align:center;
  border-radius:5px;
  border:solid 2px white;
  font-size:15px;
  font-weight: bold;
  color:black;
  margin-bottom: 10px; border: 3px solid #EFEFEF;
  padding-top:5px;
}

.image_toukou_btn3{
  width:200px;
  height:35px;
  background-color:#F4C536;
  position: relative; left: 250px; top: 40px;
  color:white;
  text-decoration:none;
  display:block;
  text-align:center;
  border-radius:5px;
  border:solid 2px white;
  font-size:13px;
  font-weight: bold;
}

.image3_toukou{
  width:500px;
  height:300px;
  margin-left:100px;
  margin-top:40px;
}

.toukou_preview{
  text-align:center;
}

.check{
  font-weight:bold;

  positon:absolute;
  margin-left:220px;

}

.check2{
float:right;
margin-right:200px;
positon:relative;


}


.check_infos{
  font-weight:bold;
  margin-top:10px ;
  margin-bottom: 10px;
  margin-left:20px;
  color:#EA6E29;

}

.check_info{
  border: medium solid #F8C1B4;
  width:650px;
  margin-left:20px;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  background-color:#FCECE3;
}

.field_with_errors{
  display: inline;
}
.flash {
  color: white;
  text-align: center;

  font-size:20px;


  &__alert{
    background-color: red;
  }
  &__notice {
    background-color: blue;
  }
}
