.content_sign_up{
  background-color: white;
  height:1000px;
  width:900px;
  margin-left:15px ;
  overflow: scroll;
  margin:0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
}

.content_sign_ups{
  height:500px;
  width:850px;
  background-color:#F2EFED;
  margin:0 auto;
  margin-top:30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: scroll;
}

.user_set{
  font-size:15px;
  font-weight:bold;
  margin-left:125px;
  font-size:17px;
  background: linear-gradient(transparent 60%, #CCCCFF 0%);

}

.user_set_text{
  width:600px;
  height:45px;
  margin: 0 auto;
  margin-left:125px;
  margin-top:10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border:solid 2px white;
  margin-bottom:10px;
}

.user_set_btn{
  width:100px;
  margin-left:350px;
  margin-top:15px;
  height:60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border:solid 2px #F2EFED;
  background-color:#F4C536;
  color:white;
  margin-bottom:10px;
}

.user_set_bolder{
  height:20px;
  border-bottom:solid 4px white;
  width:600px;
  margin-left:125px;
  margin-bottom:20px;

}

.user_image{
  height:30px;
  width:30px;

}

.user_nav{
  width:120px;
  background-color:white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
}

.show_user_image{
  height:200px;
  width:200px;
  margin-left:50px;

  float:left;
}

.show_user_info{
  margin-top:40px;
  font-size:20px;
  font-weight:bold;
}


.show_line{
  width:430px;
  border-bottom:solid 1px #DDDDDD;
  float:right;
  margin-bottom:7px;
  margin-right:20px;
}

.show_image_boke{
  height:200px;
  width:200px;
  float:left;
  margin-left:30px;

}

.show_image_line_boke{
  margin-top:70px;
  border-bottom: 3px solid #F4C536;
  width:600px;
  margin-left:30px;
  font-size:20px;
  font-weight:bold;
  margin-bottom:10px;
}

.show_image_odai{
  height:200px;
  width:200px;
  float:left;
  margin-left:30px;
}

.show_image_line_odai{
  margin-top:300px;
  border-bottom: 3px solid #F4C536;
  width:600px;
  margin-left:30px;
  font-size:20px;
  font-weight:bold;
  margin-bottom:10px;
}

.login_info{
  margin-left:30px;
  margin-top:10px;
  font-weight:bold;
}

.nav_bar_user li{
  font-size:16px;
  font-weight:bold;
  float:left;
  margin-left:15px;
  margin-right:35px;
}

.nav_bars1_user{

  width:100px;
  text-align:center;
  padding-top:7px;
}

.nav_bars1_user:hover{
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius:10px 10px 0px 0px;
}

.root_toukou_image_set{
  float:left;
  margin-left:25px;
  margin-top:20px;
}

.root_toukou_image{
  height:200px;
  width:200px;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius:10px 10px 10px 10px;

}

.root_answer_toukou_user{
  font-size:10px;
  font-weight:bold;
  color:#2B6BC3;
  text-align:center; 
}

.root_answer_toukou_boke{
  font-size:15px;
  font-weight:bold;
  text-align:center;
  width:200px;
  height:90px;
}

.show_user_info_sub{
  font-weight:bold;
  float:right;
  margin-right:150px;
}

.nav-user-blank{
  margin-left:468px;
}

.gazous{
  width:250px;
  float:right;
  margin-right:60px;
  margin-top:-1000px;
}

.gazouss{
  width:270px;
  float:right;
  margin-top:-480px;
  margin-right:40px;

}

.rank {
 float:right;
 margin-top:-1200px;
 width:280px;
 background-color:white;
 border: 6px solid #F4C536;
 border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
 margin-right:15px;
 padding: 2em;
 font-weight:bold;
}

.rank h1{
 font-weight:bold;
 font-size:16px;
}
.rank span{
  font-size:10px;
}

.rank h2{
  color:red;
  font-weight:bold;
}

.fa-thumbs-o-down{
  color:black;
  font-size:20px;
  margin-left:5px;
  color:black;

}

.sex-field{
  font-size:17px;
}

.sex_box{
  margin-left:130px;
}

.sex_boxs{
  margin-left:20px;
}

.no_sex_box{
  margin-left:20px;
  margin-bottom:15px;
}

.birth_year{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border:solid 2px white;
  width:80px;
  height:40px;
  margin-left:125px;
  margin-top:10px;
}

.birth_month{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border:solid 2px white;
  height:40px;
  margin-bottom:10px;
}

.user_delete{
  margin-left:130px;
  background: linear-gradient(transparent 70%, red 70%);
  width:300px;
  margin-top:50px;
}

.square_btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
    background: #F4C536;/*色*/
    border: solid 1px #F4C536;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    margin-left:130px;
    margin-top:20px;
  }

.square_btn:active {/*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

.edit_content_sign_ups{
  height:700px;
  width:850px;
  background-color:#F2EFED;
  margin:0 auto;
  margin-top:30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: scroll;
}

.user_sets{
  font-size:15px;
  font-weight:bold;
  margin-left:125px;
  font-size:17px;
  background: linear-gradient(transparent 60%, #FF6666 0%);

}
