.content_sign_up{
  background-color: white;
  height:1000px;
  width:900px;
  margin-left:15px ;
  overflow: scroll;
  margin:0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
}

.content_sign_ups{
  height:500px;
  width:850px;
  background-color:#F2EFED;
  margin:0 auto;
  margin-top:30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: scroll;
}

.user_set{
  font-size:15px;
  font-weight:bold;
  margin-left:125px;
}

.user_set_text{
  width:600px;
  height:45px;
  margin: 0 auto;
  margin-left:125px;
  margin-top:10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border:solid 2px white;
  margin-bottom:10px;
}

.user_set_btn{
  width:100px;
  margin-left:350px;
  margin-top:15px;
  height:60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border:solid 2px #F2EFED;
  background-color:#F4C536;
  color:white;
  margin-bottom:10px;
}

.user_set_bolder{
  height:20px;
  border-bottom:solid 4px white;
  width:600px;
  margin-left:125px;
  margin-bottom:20px;

}

.user_image{
  height:30px;
  width:30px;
  position: relative; right: 250px; bottom: 5px;
}

.user_nav{
  width:120px;
  background-color:white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
}

.show_user_image{
  height:200px;
  width:200px;
  margin-left:50px;

  float:left;
}

.show_user_info{
  margin-top:40px;
  font-size:20px;
  font-weight:bold;
}


.show_line{
  width:430px;
  border-bottom:solid 1px #DDDDDD;
  float:right;
  margin-bottom:7px;
  margin-right:20px;
}

.show_image_boke{
  height:200px;
  width:200px;
  float:left;
  margin-left:30px;

}

.show_image_line_boke{
  margin-top:70px;
  border-bottom: 3px solid #F4C536;
  width:600px;
  margin-left:30px;
  font-size:20px;
  font-weight:bold;
  margin-bottom:10px;
}

.show_image_odai{
  height:200px;
  width:200px;
  float:left;
  margin-left:30px;
}

.show_image_line_odai{
  margin-top:300px;
  border-bottom: 3px solid #F4C536;
  width:600px;
  margin-left:30px;
  font-size:20px;
  font-weight:bold;
  margin-bottom:10px;
}

.login_info{
  margin-left:30px;
  margin-top:10px;
  font-weight:bold;
}

.nav_bar_user li{
  font-size:16px;
  font-weight:bold;
  float:left;
  margin-left:15px;
  margin-right:35px;
}



.nav_bars1_user{

  width:100px;
  text-align:center;
  padding-top:7px;
}

.nav_bars1_user:hover{
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius:10px 10px 0px 0px;
}

.root_toukou_image_set{
  float:left;
    margin-left:25px;
    margin-top:20px;
}

.root_toukou_image{
    height:200px;
  width:200px;
   border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius:10px 10px 10px 10px;

}

.root_answer_toukou_user{
  font-size:10px;
  font-weight:bold;
  color:#2B6BC3;
}

.root_answer_toukou_boke{
  font-size:15px;
  font-weight:bold;
  text-align:center;
  width:200px;
  height:90px;
}

.show_user_info_sub{
  font-weight:bold;
  float:right;
  margin-right:250px;
}
